[submodule "lib/neotree"]
	path = lib/neotree
	url = git://github.com/jaypei/emacs-neotree.git
[submodule "lib/coffee-mode"]
	path = lib/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "lib/scss-mode"]
	path = lib/scss-mode
	url = git://github.com/antonj/scss-mode.git
[submodule "lib/web-mode"]
	path = lib/web-mode
	url = git://github.com/fxbois/web-mode.git
[submodule "lib/treemacs"]
	path = lib/treemacs
	url = https://github.com/Alexander-Miller/treemacs.git
[submodule "lib/use-package"]
	path = lib/use-package
	url = https://github.com/jwiegley/use-package.git
